absl==0.0
absl_py==1.2.0
Flask==1.1.2
inference==0.1
ipython==8.4.0
matplotlib==3.5.1
mock==4.0.3
numpy==1.21.5
opencv_python==4.6.0.66
Pillow==9.2.0
protobuf==4.21.5
scipy==1.7.3
six==1.16.0
tensorflow==2.9.1
tf_slim==1.1.0
